page-home {
  // HEADER STYLES///////////////////////////////
  ion-header {
    background: #000;
    color: #C85EAD;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vw;
    img.head-img {
      width: auto;
      height: 5vw;
      margin-right: 5vw;
    }
    div {
      display: inline-flex;
      margin-left: 4.2vw;
      p {
        font-size: 3.6vw;
        margin: 0 auto;
        margin-left: 1vw;
        line-height: 5vw;
        font-family: "BebasNeue", sans-serif;
      }
    }
    div.right-header {
      color: #fff;
      line-height: 5vw;
      margin-right: 2vw;
      font-size: 53px;
    }
  } //END HEADER STYLES //////////BEGIN GRID/COLUMN/ROW STYLES/////////////////////
  ion-content[padding] {
    img {
      width: 50px;
      height: 50px;
    }
    .foot-img {
      margin: auto;
    }
    ion-grid {
      height: 100%;
      ion-row.primary {
        margin-top: 0px;
        display: flex;
        justify-content: space-around;
        height: 80%;
        ion-col.block {
          display: block;
          max-width: 400px;
          max-height: 100%;
          p.head {
            font-family: "BebasNeue", sans-serif;
            font-size: 3.9vw;
            text-align: start;
            line-height: 4vw;
            margin: -2px 8px 5px 8px;
          }
          .spacer {
            margin-top: 10px;
            width: 100%;
          }
          .left-spacer {
            margin-top: 3vw;
            width: 100%;
          }
          #bottom-box {
            width: 100%;
            margin-top: 6.6vw;
          } //   END G/C/R STYLES ///////////////////////////////////////////////
          //   PRIMARY BOX STYLES /////////////////////////////////////////////
          form.grad.top {
            background-color: #fff;
            background-image: linear-gradient(180deg, #efefef 0%, #f9ffff 50%, #ffffff 100%);
          }
          form.grad {
            width: 100%;
            background-size: 100% 9vw;
            background-repeat: no-repeat;
            background-color: #fff;
            p.obl {
              font-size: 1rem;
              font-style: oblique;
              padding: 0px 16px;
              padding-bottom: 5px;
              margin-top: -1.3vw;
              margin-bottom: 0;
            }
            div.flex {
              display: flex;
              justify-content: space-between;
              align-items: center;
              height: 5vw;
              margin: 0 auto;
              width: 97%;
              border-bottom: .5px solid #666666;
              padding-left: 8px;
              padding-right: 8px;
              .narrow {
                width: 50%;
              }
              .med-width {
                width: 74%;
              }
              .tight-squeeze {
                padding: 0;
                margin: 0;
              }
              .end {
                justify-content: flex-end;
                width: 27%;
                margin: 0;
                padding-left:0;
                border-bottom: none;
                height: auto;
              }
              .non-dollar {
                padding-right: 8px;
                min-width: 5vw;
                div.no-border.center {
                  min-width: 3.5vw;
                  text-align: center;
                }
              }
              .white {
                color: #fff;
              }
              div.content {
                font-family: "Helvetica", sans-serif;
                font-size: 1.5rem;
                color: #666666;
                line-height: 1.5rem;
              }
              ion-input {
                display: flex;
                justify-content: space-around;
                align-items: center;
              }
              ion-input.input {
                background: #fff;
                color: #666666;
                border: 0.5px solid #666666;
                max-width: 5.2vw;
                height: 2.2vw;
                margin: 0;
                margin-left: 2px;
                font-size: 1.3rem;
                line-height: 1.3rem;
                padding-top: 3px;
              }
              ion-input.input.percent {
                input.text-input-ios {
                  text-align: end;
                  margin-right: 2px;
                  padding-right: 2px;
                }
              }
              ion-input.dollar:last-child:before {
                content: "$";
                padding: 0 2px;
              }
              ion-input.percent:last-child:after {
                content: "%";
                padding-right: 2px;
                margin-left: 0;
              }
              ion-input.dollar.minus:last-child:before {
                content: "-$";
                padding: 0 2px;
              }
              ion-input input.text-input-ios {
                margin: auto;
                text-align: center;
                font-size: 1.25rem;
                line-height: 1.3rem;
              }
              div.no-border {
                border: none;
                background: transparent;
                font-size: 1.3rem;
                color: #666666;
              }
              div.no-border.white {
                font-size: 1.4rem;
                font-weight: bold;
                color: #ffffff;
              }
              ion-input.no-border.large {
                max-width: 5vw;
              }
            }
            div.flex.bold {
              display: flex;
              justify-content: space-between;
              align-items: center;
              min-height: 4vw;
              border-bottom: none;
            }
            .small {
              font-size: 1.2rem;
            }
            div.flex.bottomless {
              border-bottom: none;
              .ion-input-select,
              select {
                -webkit-appearance: none;
                background-repeat: no-repeat;
                background-color: rgba(0, 0, 0, 0);
                border: thin solid #dddddd;
                font-weight: 300;
                vertical-align: middle;
                color: #333;
                padding: 0 7px;
                overflow: hidden;
                box-sizing: border-box;
                text-align: center;
                background: transparent;
                width: auto;
                height: 2vw;
              }
            }
          }
          div.content.bold {
            font-family: "Helvetica", sans-serif;
            font-size: 1.4rem;
            font-weight: bold;
            letter-spacing: 0px;
            color: #666666;
            line-height: 1.4rem;
            margin-top: 1vw;
            margin-bottom: -6px;
            margin-left: 1.35rem;
            width: 95%;
          }
          div.flex.total-bar#bottomless {
            background-color: #43AAC5;
            border: none;
            border-bottom: none;
            min-width: 300px;
            margin: 0 auto;
            height: auto;
            div.content.white {
              color: white;
              font-weight: bold;
              font-size: 1.4rem;
              line-height: 1.7rem;
            }
           
          }
          div.flex.total-bar#white {
            background-color: #fff;
            border: none;
            border-bottom: none;
            min-width: 300px;
            margin: 0 auto;
            height: auto;
            font-size: 1.4rem;
            color: #666666;
            border: 0.5px solid #43AAC5;
          }
        }
      }
      // ion-row.primary:after {
      //   content: " ";
      //   margin: 109px auto;
      //   width: 90%;
      //   border-bottom: 0.5px solid #333;
      // }
      div.flex-bottom {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 109px 2vw 0 2vw;
        
        .foot-left,
        .foot-right {
          content: " ";
          width: 47%;
          border-bottom: 0.5px solid #333;
        }
      }
    }
  } //   END PRIMARY BOX STYLES ///// 
  //   BOTTOM RIGHT BLUE BOX GRID STYLES ////////////////////////////////////////
  ion-grid#bottom-right {
    width: 100%;
    background: #43AAC5;
    max-height: 23vw;
    min-height: 22vw;
    margin-top: 6.1vw;
    ion-row.tight-box {
      margin: 0 auto;
      width: 100%;
      height: 50%;
      ion-col.square {
        width: 50%;
        height: 100%;
        padding: 0;
        margin: 0px auto;
      }
      ion-col.square.left {
        border-right: 0.5px solid #fff;
      }
      ion-col.square.left-bottom,
      ion-col.square.right-bottom {
        margin-bottom: 30px;
        height: 90%;
        p.box-head {
          margin: 0 auto;
          line-height: 19px;
          padding-top: 20px;
          font-family: "Helvetica", sans-serif;
          font-size: 1.4rem;
          color: #fff;
          text-align: center;
          height: 40%;
        }
        p.box-bottom {
          padding-top: 14px;
        }
      }
      ion-col.square.right-top,
      ion-col.square.left-top {
        margin-bottom: 0;
        margin-top: 1.1vw;
        height: 88%;
        p.box-head {
          margin: 0 auto;
          line-height: 1.4rem;
          padding-top: 5px;
          font-family: "Helvetica", sans-serif;
          font-size: 1.4rem;
          color: #fff;
          text-align: center;
          height: 40%;
        }
      }
    }
    ion-row.tight-box.top:after {
      content: " ";
      margin: 0 auto;
      width: 95%;
      border-bottom: 0.5px solid #fff;
      height: 0;
    }
    p.box-bottom {
      font-family: "BebasNeue", sans-serif;
      font-size: 3.5vw;
      height: 40%;
      color: #fff;
      text-align: center;
      padding: 0;
      margin: 0;
    }
    p.box-head.right {
      width: 50%;
    }
  }
  form.grad#payoff {
    border: 1px solid #43AAC5;
    div.flex {
      border-bottom: 0.5px solid #43AAC5;
      .bleu {
        color: #43AAC5;
        font-size: 1.3rem;
        font-weight: bold;
      }
    }
    div.content.bleu {
      color: #43AAC5;
      font-family: "Helvetica", sans-serif;
      font-size: 1.6rem;
      height: auto;
    }
    div.flex.bold.bottomless {
      border-bottom: none;
      .content.bleu{
        font-size: 1.6rem;
      }
      .bleu {
        color: #43AAC5;
        font-size: 1.3rem;
        font-weight: bold;
      }
    }
   
    
  }
}
