page-home {
  // HEADER STYLES///////////////////////////////
  ion-header {
    background: #000;
    color: #C85EAD;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 104px;
    img.head-img {
      width: 318px;
      height: 70.5px;
      margin-right: 2vw;
    }
    div {
      display: inline-flex;
      margin-left: 4.2vw;
      p {
        font-size: 57px;
        margin: 0 auto;
        margin-left: 1vw;
        line-height: 104px;
        font-family: "BebasNeue", sans-serif;
      }
    }
    div.right-header {
      color: #fff;
      line-height: 104px;
      margin-right: 2vw;
      font-size: 53px;
    }
  } //END HEADER STYLES //////////BEGIN GRID/COLUMN/ROW STYLES/////////////////////
  ion-content[padding] {
    img {
      width: 50px;
      height: 50px;
    }
    .foot-img {
      margin: auto;
    }
    ion-grid {
      padding-top: 0px;
      height: 100%;
      ion-row.primary {
        margin-top: 38px;
        display: flex;
        justify-content: space-around;
        height: 80%;
        ion-col.block {
          display: block;
          max-width: 420px;
          max-height: 100%;
          p.head {
            font-family: "BebasNeue", sans-serif;
            font-size: 47px;
            text-align: start;
            line-height: 47px;
            margin: 14px 8px;
          }
          .spacer {
            margin-top: 10px;
            width: 100%;
          }
          .left-spacer {
            margin-top: 70px;
            width: 100%;
          }
          #bottom-box {
            width: 100%;
            margin-top: 126px;
          } //   END G/C/R STYLES ///////////////////////////////////////////////
          //   PRIMARY BOX STYLES /////////////////////////////////////////////
          form.grad.top {
            background-color: #fff;
            background-image: linear-gradient(180deg, #efefef 0%, #f9ffff 50%, #ffffff 100%);
          }
          form.grad {
            width: 100%;
            background-size: 100% 300px;
            background-repeat: no-repeat;
            background-color: #fff;
            p.obl {
              font-size: 11px;
              font-style: oblique;
              padding: 0px 16px;
              padding-bottom: 5px;
              margin-top: -20px;
            }
            div.flex {
              display: flex;
              justify-content: space-between;
              align-items: center;
              height: 60px;
              margin: 0 auto;
              width: 97%;
              border-bottom: .5px solid #666666;
              padding-left: 8px;
              padding-right: 8px;
              .narrow {
                width: 50%;
              }
              .med-width {
                width: 60%;
              }
              .tight-squeeze {
                padding: 0;
                margin: 0;
              }
              .end {
                justify-content: flex-end;
                width: 27%;
                margin: 0;
                padding-left:0;
                border-bottom: none;
                height: auto;
              }
              .non-dollar {
                padding-right: 8px;
                min-width: 60px;
                div.no-border.center {
                  text-align: center;
                }
              }
              .white {
                color: #fff;
              }
              div.content {
                font-family: "Helvetica", sans-serif;
                font-size: 18px;
                color: #666666;
                line-height: 23px;
              }
              ion-input {
                display: flex;
                justify-content: space-around;
                align-items: center;
              }
              ion-input.input {
                background: #fff;
                color: #666666;
                border: 0.5px solid #666666;
                max-width: 60px;
                height: 24px;
                margin: 0;
                margin-left: 2px;
                font-size: 14px;
                line-height: 17px;
                padding-top: 3px;
              }
              ion-input.input.percent {
                input.text-input-ios {
                  text-align: end;
                  margin-right: 1px;
                  padding-right: 1px;
                }
              }
              ion-input.dollar:last-child:before {
                content: "$";
                padding: 0 2px;
              }
              ion-input.percent:last-child:after {
                content: "%";
                padding-right: 2px;
                margin-left: 0;
              }
              ion-input.dollar.minus:last-child:before {
                content: "-$";
                padding: 0 2px;
              }
              ion-input input.text-input-ios {
                margin: auto;
                text-align: center;
                font-size: 14px;
                line-height: 17px;
              }
              div.no-border {
                border: none;
                background: transparent;
                font-size: 18px;
                color: #666666;
              }
              div.no-border.white {
                font-size: 18px;
                font-weight: bold;
                color: #ffffff;
              }
              ion-input.no-border.large {
                max-width: 70px;
              }
            }
            div.flex.bold {
              display: flex;
              justify-content: space-between;
              align-items: center;
              min-height: 49px;
              border-bottom: none;
            }
            .small {
              font-size: 12px;
            }
            div.flex.bottomless {
              border-bottom: none;
              .ion-input-select,
              select {
                -webkit-appearance: none;
                background-repeat: no-repeat;
                background-color: rgba(0, 0, 0, 0);
                border: thin solid #dddddd;
                font-weight: 300;
                vertical-align: middle;
                color: #333;
                padding: 0 7px;
                overflow: hidden;
                box-sizing: border-box;
                text-align: center;
                background: transparent;
                width: auto;
                height: 24px;
              }
            }
          }
          div.content.bold {
            font-family: "Helvetica", sans-serif;
            font-size: 18px;
            font-weight: bold;
            letter-spacing: 0px;
            color: #666666;
            line-height: 17px;
            margin-top: 10px;
            margin-bottom: -6px;
            margin-left: 16px;
            width: 95%;
          }
          div.flex.total-bar#bottomless {
            background-color: #43AAC5;
            border: none;
            border-bottom: none;
            min-width: 350px;
            margin: 0 auto;
            height: auto;
            div.content.white {
              color: white;
              font-weight: bold;
              font-size: 18px;
              line-height: 29px;
            }
           
          }
          div.flex.total-bar#white {
            background-color: #fff;
            border: none;
            border-bottom: none;
            min-width: 350px;
            margin: 0 auto;
            height: auto;
            font-size: 18px;
            color: #666666;
            border: 0.5px solid #43AAC5;
          }
        }
      }
      // ion-row.primary:after {
      //   content: " ";
      //   margin: 109px auto;
      //   width: 90%;
      //   border-bottom: 0.5px solid #333;
      // }
      div.flex-bottom {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 109px 2vw 0 2vw;
        
        .foot-left,
        .foot-right {
          content: " ";
          width: 47%;
          border-bottom: 0.5px solid #333;
        }
      }
    }
  } //   END PRIMARY BOX STYLES ///// 
  //   BOTTOM RIGHT BLUE BOX GRID STYLES ////////////////////////////////////////
  ion-grid#bottom-right {
    width: 100%;
    background: #43AAC5;
    max-height: 290px;
    margin-top: 91px;
    ion-row.tight-box {
      margin: 0 auto;
      width: 100%;
      height: 50%;
      ion-col.square {
        width: 50%;
        height: 100%;
        padding: 0;
        margin: 0px auto;
      }
      ion-col.square.left {
        border-right: 0.5px solid #fff;
      }
      ion-col.square.left-bottom,
      ion-col.square.right-bottom {
        margin-bottom: 30px;
        height: 90%;
        p.box-head {
          margin: 0 auto;
          line-height: 19px;
          padding-top: 20px;
          font-family: "Helvetica", sans-serif;
          font-size: 18px;
          color: #fff;
          text-align: center;
          height: 40%;
        }
        p.box-bottom {
          padding-top: 14px;
        }
      }
      ion-col.square.right-top,
      ion-col.square.left-top {
        margin-bottom: 0;
        margin-top: 20px;
        height: 88%;
        p.box-head {
          margin: 0 auto;
          line-height: 19px;
          padding-top: 5px;
          font-family: "Helvetica", sans-serif;
          font-size: 18px;
          color: #fff;
          text-align: center;
          height: 40%;
        }
      }
    }
    ion-row.tight-box.top:after {
      content: " ";
      margin: 0 auto;
      width: 95%;
      border-bottom: 0.5px solid #fff;
      height: 0;
    }
    p.box-bottom {
      font-family: "BebasNeue", sans-serif;
      font-size: 43px;
      height: 40%;
      color: #fff;
      text-align: center;
      padding: 0;
      margin: 0;
    }
    p.box-head.right {
      width: 60%;
    }
  }
  form.grad#payoff {
    border: 1px solid #43AAC5;
    div.flex {
      border-bottom: 0.5px solid #43AAC5;
      .bleu {
        color: #43AAC5;
        font-size: 18px;
        font-weight: bold;
      }
    }
    div.content.bleu {
      color: #43AAC5;
      font-family: "Helvetica", sans-serif;
      font-size: 24px;
      height: auto;
    }
    div.flex.bold.bottomless {
      border-bottom: none;
      .content.bleu{
        font-size: 24px;
      }
      .bleu {
        color: #43AAC5;
        font-size: 18px;
        font-weight: bold;
      }
    }
   
    
  }
}
